<div class="search-form mt-5">
    <form action="/news" method="POST">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Nhập từ khóa</label>
            <textarea class="form-control" id="searchInput" rows="3" placeholder="Nhập từ khóa để tìm kiếm" name="q"></textarea>
            <button type="submit" class="btn btn-primary mt-5">Search</button>
        </div>
    </form>
</div>